<%- include("header") %>

<div class="container">
    <form action="/index" method="post">
        <input type="text" class="player" id="name" placeholder="Player Name">
        <input type="number" class="player" id="age" placeholder="Player Age">
        <button id="btn" type="submit">Submit</button>
    </form>
</div>



<%- include("footer") %>