<%- include("header") %>

<div class="list-container container">
    <h2 class="topic">Choose Topic</h2>
    <form action="/ques" method="post">
       
        <button type="submit" class="list-item" name="listItem1" value="Linux">Linux</button>
        <button type="submit" class="list-item" name="listItem2" value="Networking">Networking</button>
        <button type="submit" class="list-item" name="listItem3" value="DevOps">DevOps</button>
        <button type="submit" class="list-item" name="listItem4" value="Programming">Programming</button>
        <button type="submit" class="list-item" name="listItem5" value="Cloud">Cloud</button>
    </form>
     
</div>

<%- include("footer") %>
